@import url(https://fonts.googleapis.com/css?family=Open + Sans:300, 400, 700);
html,
body {
  background-color: white !important;
  font-family: "Roboto", sans-serif;
}

/* Navbar */

.navbar {
  height: 60px;
}
.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 1.25rem;
}

.navbar-brand a {
  color: #ffffff;
  font-size: 36px;
}

.navbar-menu {
  background-color: hsl(204, 86%, 53%);
}

.navbar-menu a {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.navbar-item:not(form):hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Home */
#home {
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

#home img {
  display: block;
  margin: auto;
}

#home p {
  color: black;
  font-size: 24px;
}

/* Profile */
.profile-container {
  margin: 20px;
}
.profile-intro {
  margin: 20px;
}

.profile-intro .box {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, hsl(204, 86%, 53%), hsl(204, 62%, 80%));
}

.profile-intro .box .header {
  display: flex;
}

.profile-intro .box .header a {
  color: black;
  margin-top: 1px;
  margin-left: 10px;
}

.profile {
  height: 245px;
  width: 245px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, hsl(204, 86%, 53%), hsl(204, 62%, 80%));
  text-align: center;
}
.profile:hover {
  height: 470px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.profile .profile-wrapper img {
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}
.profile:hover .profile-wrapper img.active {
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}

.profile-wrapper .title {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}
.profile-wrapper .place {
  color: #fff;
  font-size: 17px;
  line-height: 0px;
  margin: 10px 0;
}
.profile-content {
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px !important;
}
.profile-content .profile-buttons {
  position: relative;
  display: flex;
  margin-top: 20px;
}
.profile-buttons .btn {
  height: 40px;
  width: 150px;
  margin: 0 5px;
}
.profile-buttons .btn button {
  height: 100%;
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn button:hover {
  transform: scale(0.95);
}
.profile .icons {
  position: relative;
  margin-left: 5px;
  list-style: none;
}
.profile .icons.active {
  display: none;
}
.profile .icons li {
  height: 40px;
  width: 40px;
  margin: 5px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}
.profile:hover .icons li {
  opacity: 1;
  margin-left: 7px;
}
.profile:hover .icons li:nth-child(2) {
  transition-delay: 0.2s;
}
.profile:hover .icons li:nth-child(3) {
  transition-delay: 0.4s;
}
.profile .icons li a {
  color: hsl(204, 86%, 53%);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #fff;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}
.profile .icons li a:hover {
  transform: scale(0.9);
}

/* Portfolio */
#markdown {
  font-family: monospace;
}

.portfolio-header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.portfolio-header .portfolio-help {
  margin-left: 15px;
}

#portfolio-main {
  margin-top: 15px;
}

.portfolio-menu {
  position: relative;
  top: 300px;
  margin-left: 20px;
  display: inline;
}

.portfolio-menu .menu-item {
  margin-bottom: 15px;
}

.portfolio-menu .skewBtn {
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: ;
}
.portfolio-menu .skewBtn:hover {
  border: none;
  color: white;
  font-size: 28px;
  transform: scale(1.1);
}

/* Card */

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.card-post {
  float: left;
  padding: 1rem;
  width: 60%;
}
.card-post .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card-post .menu-content::before,
.card-post .menu-content::after {
  content: "";
  display: table;
}
.card-post .menu-content::after {
  clear: both;
}
.card-post .menu-content li {
  display: inline-block;
}
.card-post .menu-content a {
  color: #fff;
}
.card-post .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.card-post .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card-post .wrapper:hover .data {
  transform: translateY(0);
}
.card-post .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card-post .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card-post .author {
  font-size: 12px;
}
.card-post .title {
  margin-top: 10px;
}
.card-post .text {
  height: 70px;
  margin: 0;
}

.menu-content.active {
  transform: translateY(-60px);
}

.card-post .wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-post .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
  height: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card-post .content::-webkit-scrollbar {
  display: none;
}
.card-post .title a {
  color: #808080;
}
.card-post .menu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.card-post .menu-button span {
  width: 5px;
  height: 5px;
  background-color: #808080;
  color: #808080;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.card-post .menu-button span::after,
.card-post .menu-button span::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
.card-post .menu-button span::before {
  left: -10px;
}
.card-post .menu-button span::after {
  right: -10px;
}
.card-post .menu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: transform 0.3s;
  transform: translateY(60);
}
.card-post .menu-content li {
  width: 33.333333%;
  float: left;
  background-color: hsl(204, 86%, 53%);
  height: 60px;
  position: relative;
}
.card-post .menu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.card-post .menu-content span {
  top: -10px;
}

/* preview */

.modal-card {
  height: 842px;
  width: 842px;
  /* to centre page on screen*/
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.purple {
  border: 2px solid #512da8;
  color: #512da8;
}
.purple:hover {
  background-color: #512da8;
  transition: all 0.3s ease-in-out;
}
.blue {
  border: 2px solid #1976d2;
  color: #1976d2;
}
.blue:hover {
  background-color: #1976d2;
  transition: all 0.3s ease-in-out;
}
.lorange {
  border: 2px solid #fbc02d;
  color: #fbc02d;
}
.lorange:hover {
  background-color: #fbc02d;
  transition: all 0.3s ease-in-out;
}
.brick {
  border: 2px solid #ff5722;
  color: #ff5722;
}
.brick:hover {
  background-color: #ff5722;
  transition: all 0.3s ease-in-out;
}

/* Editor */
.editor-form {
  margin: 45px;
}

.editor-form label {
  font-size: larger;
}

.file-cta {
  background-color: hsl(204, 86%, 53%);
}
.file-cta:hover {
  opacity: 50px;
}
.file-label {
  color: white;
}
.file-icon {
  color: white;
}

.file-name {
  color: hsl(0, 0%, 71%);
}
/* Theme slider */
.theme-selector {
  margin-top: 12px;
  margin-left: 30px;
}

.theme-selector button:hover {
  cursor: pointer;
  background-color: hsl(189, 100%, 76%);
}
.theme-selector button {
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid white;
  padding: 10px 20px;
  overflow: hidden;
  color: white;
}

/*button:before (attr data-hover)*/
.theme-selector button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
  color: white;
}
.theme-selector button:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
/*button div (button text before hover)*/
.theme-selector button:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
.theme-selector button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
